<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EpicSystems-Task.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>051EB24D2DBC387300CC9320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>051EB25F2DBC387700CC9320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>051EB2692DBC387700CC9320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
